@use 'mixin';

.header ul{
	@include mixin.inline-list();
	li{
		background-color: crimson;
		padding: 0.5em;
		a{
			text-decoration: none;
			color: white;
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		}
	}
}