// mixin
// simple mixin

@mixin inline-list {
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		display: inline-block;
	}
}

.header ul{
	@include inline-list();
	li{
		background-color: crimson;
		padding: 0.5em;
		a{
			text-decoration: none;
			color: white;
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		}
	}
}

.footer ul{
	@include inline-list();
	li{
		background-color: darkcyan;
		padding: 0.3em;
		a{
			color: #fff;
			text-decoration: none;
		}
	}
}

// arguments pada mixin

@mixin flex-box($direction: row, $space:center) {
	display: flex;
	justify-content: $space;
	align-items: center;
	flex-direction: $direction;
}

.container{
	@include flex-box(row-reverse, space-evenly );
	width: 600px;
	height: 400px;
	background-color:#eaeaea ;
	border: 1px solid black;
	margin-bottom: 10px;
	.box{
		width: 60px;
		height: 60px;
		background-color: rgb(101, 240, 101);
		line-height: 60px;
		text-align:center;
	}
}